* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;

    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
}

.inner {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1000px;

    margin: 0 auto;
}
