* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;

    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
}

.inner {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1000px;

    margin: 0 auto;
}

.card {
    display: inline-block;

    width: 32%;

    padding: 10px;

    margin-bottom: 30px;
    margin-left: 10px;

    border-bottom: 1px solid #3d3e3f;
}

.search {
    display: inline-block;
    overflow: hidden;
    background: #ffffff;

    width: 80%;

    padding: 0 30px;

    margin: 30px auto;

    border: 1px solid #3f3e44;
    border-radius: 12px;
}
.search__input {
    outline: 0;

    width: 100%;

    border: none;

    line-height: 56px;
}
